.card-widget.card-makyo-support
  .item-headline
    i.fas.fa-qrcode
    span 站点支持
  .card-makyo-support__content
    .card-makyo-support__qr
      img(src=url_for('/img/qr-contact.png?v=20260713') alt='个人二维码' onerror="this.style.display='none'; this.nextElementSibling.hidden=false")
      span(hidden=true) QR
    p 扫码支持站点。当前二维码文件：<code>source/img/qr-contact.png</code>。
